/* div and postion styling */
.whole-screen-center {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  color: red;
}

.title-text {
  font-family: 'Courier New', Courier, monospace;
  width: 40vw;
  font-weight: 700;
}

.subtitle-text {
  font-family: 'Courier New', Courier, monospace;
  width: 40vw;
  font-weight: 200;

}

.details {
  font-size: 1.5em;
}
